// colors
$darkBlue: rgb(86, 89, 94);
$lightBlue: rgb(153, 153, 153);
$black: #000;


// Font-sizes
$font14: 14px;
$font24: 24px;


// sizes
$size400: 400px;


// background colors
$black: black;
$white: #fff;
$green: #05e690;
$yellow: rgb(255, 255, 0);
$blue: rgb(0, 0, 255);

// container styles 
$width: 1280px;
$margins: 0 auto;