@import url(../../styles/utils.scss);

.additional_info__content {
  display: flex;
    justify-content: space-between;
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    width: 650px;
    span {
      color: orange;
    }
  }
  p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    width: 650px;
  }
  ul,
  ol {
    margin-bottom: 1rem;
    width: 650px;
    li {
      font-size: 1.1rem;
      line-height: 1.5;
      margin-bottom: 0.5rem;
    }
  }
  ul {
    list-style: none;
  }
}
